@import "@/styles/settings/_settings";

.sectionHeader {

  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  
  span {
    flex-shrink: 0;
    margin-right: 0.5em;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }

}

.heroSection {
  margin-top: 0;
}

.heroContainer {
  
  padding: 0;

  img {
    display: block;
  }

}

.messageSection {
  padding: 0;
  margin: 0;
}

.messageContainer {
  background-color: lighten($color-gray-dark, 10);
  padding: .8em 1.2em;
}

.messageLoading {
  color: darken($color-gray-light, 10);
}

.messageCopy {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: solid 3px lighten($color-gray-dark, 30);
  padding: 1em 0 .5em;
  margin-top: 1em;

  button,
  a {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .8em;
    text-decoration: none;
    background: none;
    border: none;
    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:active {
      
      color: darken($color-gray-light, 10);

      svg {
        transform: scale(.9);
      }

    }

  }

  span {

    display: block;
    width: 2em;
    height: 2em;
    font-size: .9em;
    margin-right: .6em;

  }

  svg {

    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: $color-blue-dark;
    font-size: .9em;
    background-color: white;
    padding: .5em;
    border-radius: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0, .6);

  }

}

/**
 * Tags
 */

.tagsTags {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .2em;
  // color: black;
  list-style: none;
  padding: 0;
  margin: 0;

  li {

    font-size: .9em;
    padding: .1em .2em;

    &:after {
      content: ', '
    }

    &:last-child {
      
      &:after {
        content: '';
      }

    }

  }

}