$color-blue-dark: #2b2d42;
$color-blue-medium: #0077b6;
$color-gray-medium: #8d99ae;
$color-gray-dark: #22333b;
$color-gray-light: #edf2f4;
$color-red: #d90429;
$color-pink: #EF8EDB;
$color-yellow: #fecc1b;

$color-primary: $color-pink;
$color-secondary: $color-yellow;